/* Basic CSS for styling the todo list */
body {
  font-family: Arial, sans-serif;
}
ul,
li {
  margin-top: 20px;
  padding: 0;
}

.whole-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-container {
  max-width: 300px;
  border: 1px solid #ddd;
  padding: 30px;
  background-color: #fff;
}
.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border: 1px solid #ddd;
}
.todo-item .delete-button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
}
